.navbar-default .navbar-brand{                                          
	font-family:Gill Sans MT;
	font-size: 25px;
	font-weight:bold;
	color: #b2d8b2;
}

img{
    border-radius:25px;
}

img{
	box-shadow:20px 20px 30px;
}

a{
	font-family:Gill Sans MT;
	font-size: 18px;
}

h2{
	font-family:Gill Sans MT;
	font-size: 35px;
	font-weight:bold;
	line-height:2;
	margin-top:5px;
	margin-bottom:10px;
}

h4{
	font-family:Gill Sans MT;
	text-align:center;
}

p{
	font-family:Gill Sans MT;
	font-size: 30px;
	font-style:italic;
	line-height:2;
}

.site-footer{
	border-top:1px solid #e8e8e8;
		border-top-width: 1px;
		border-top-style: solid;
		border-top-color: rgb(232, 232, 232);
	padding:30px 0;
		padding-top: 30px;
		padding-right: 0px;
		padding-bottom: 30px;
		padding-left: 0px;
	background-color:#FFFFFF;
	background-size:cover;
}

#end li{
	list-style-type: none;
}