.navbar-default .navbar-brand{                                          
	font-family:Gill Sans MT;
	font-size: 25px;
	font-weight:bold;
	color: #b2d8b2;
}

a{
	font-family:Gill Sans MT;
	font-size: 18px;
}

#contactinfo container{
	padding-left:20px;
	padding-right:15px;
	margin-left:0;
	margin-right:0;
}

h2{
	font-family:Gill Sans MT;
	font-size:40px;
	font-weight:bold;
	display:block;
	margin-top:100px;
	margin-bottom:10px;
	margin-left:35px;
}

#end li{
	list-style-type: none;
	margin-top:10px;
	margin-bottom:20px;
}
